@{
    Category cat = (Category)ViewBag.CurrentCat;
}
<div class="row" >
    <dl class="col-6 row">
        <dt class="col-2">@Html.DisplayNameFor(c=>cat.Id)</dt>
        <dd class="col-10">@Html.DisplayFor(c=>cat.Id)</dd>

        <dt class="col-2">@Html.DisplayNameFor(c=>cat.Name)</dt>
        <dd class="col-10">@Html.DisplayFor(c=>cat.Name)</dd>

        <dt class="col-2">@Html.DisplayNameFor(c=>cat.Description)</dt>
        <dd class="col-10">@Html.DisplayFor(c=>cat.Description)</dd>
    </dl>
    <div class="col-4">
        <img src="@cat.ImagePath" class="card" style="display:inline-block;width:20rem" />
    </div>
</div>
@if (cat.books.Count() > 0 && cat.books != null)
{
    <ul class="list-group col-4">
        <li class="list-group-item active">Books</li>
        @foreach (var item in cat.books)
        {
            <a asp-controller="Books" asp-action="GetDetailsView" asp-route-id="@item.Id" style="text-decoration:none ">
            <li class="list-group-item list-group-item-action">@item.Title (@item.NumberOfSales)</li>
            </a>
        }
    </ul>
}
else
{
    <h1 class="alert alert-danger text-center">There is no books</h1>
}
